@use "../../../styles.scss" as styles;
@use "../../../_variables.scss" as vars;
@use "../auth-styles.scss";

:host {
  @include styles.page__padding;
}

main {
  form {
    a {
      font-weight: 700;
      display: inline-block;
      color: vars.$accent-color;
      cursor: pointer;
      transition: transform 0.15s ease; 

      &:hover:not(:disabled) {
        transform: scale(1.05);
      }

      &:active:not(:disabled) {
        transform: scale(1);
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
    div {
      margin-top: 24px;
      span {
        color: black;
      }
    }
  }
}
