@use "../../../styles.scss" as styles;
@use "../../../_variables.scss" as vars;
@use "../auth-styles.scss";

:host {
  @include styles.page__padding;
}

main {
  form {

    .login__header {
      margin-bottom: 0;
    }

    .success-message {
      width: 100%;
      max-width: 248px;
      height: 28px;
      padding-top: 4px;
      color: #008000;
      font-size: 10.5px;
    }

    a {
      font-weight: 700;
      display: inline-block;
      color: vars.$accent-color;
      cursor: pointer;
    }
    div {
      margin-top: 24px;
      span {
        color: black;
      }
    }
  }
}
