<div data-vjs-player>
  <button #closeButton class="close-button" (click)="handleClose()">×</button>
  <video
    #videoPlayer
    class="video-js vjs-default-skin vjs-big-play-centered"
    controls
    playsinline
  ></video>
</div>
<div class="quality-selector">
  <label for="qualitySelect">Qualität:</label>
  <select
    id="qualitySelect"
    [(ngModel)]="selectedQuality"
    (change)="onQualityChange()"
  >
    <option
      *ngFor="let level of qualityLevels"
      [ngValue]="level.height"
    >
      {{ level.label }}
    </option>
  </select>
</div>
