// videojs-player.component.scss

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .video-js {
    background-color: black;
    width: 80%;
    max-width: 960px;
    overflow: hidden;
    &:hover {
      .close-button {
        opacity: 1; // Button sichtbar machen, wenn über :host gehovert wird
        pointer-events: auto; // Klickbar machen
      }
    }

    .vjs-tech {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .vjs-poster {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    font-size: 32px;
    color: white;
    cursor: pointer;
    z-index: 1001;

    // --- NEU ---
    opacity: 0; // Standardmäßig unsichtbar
    pointer-events: none; // Nicht klickbar im unsichtbaren Zustand
    transition: opacity 0.5s ease-in-out; // Übergang für das langsame Ein-/Ausblenden (Dauer anpassen nach Wunsch)
    // -------------
  }

  // --- NEU: Hover-Effekt für den Container ---

  // -------------
}