<html>
  <head>
    <title>Confirm your email</title>
  </head>
  <body>
    <header>
      <img
        src="http://videoflix.cw-coding.de/mail_logo/videoflix-logo.png"
        alt="Videoflix Logo"
      />
    </header>
    <p>
      Thank you for registering with
      <a href="https://videoflix.cw-coding.de" target="_blank">Videoflix</a>. To
      complete your registration and verify your email address, please click the
      link below:
    </p>
    <button href="">Activate account</button>
    <!-- <a href="{confirmation_link}">Confirm Email</a> -->
    <p>
      If you did not create an account with us, please disregard this email.
    </p>
    <p>Best regards,</p>
    <p>Your Videoflix Team.</p>
  </body>
</html>
