@use "../../../styles.scss" as styles;

:host {
  @include styles.page__padding;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/img/video-offer/panda-hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .hero {
    width: 470px;

    h2 {
      font-size: 88px;
      font-weight: 700;
      margin-bottom: 0;
    }

    button {
      display: flex;
      gap: 8px;
  
      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  section {
    h3 {
      font-size: 22px;
    }
  }
}
