<div class="background"></div>
<app-protected-header></app-protected-header>
<div class="hero">
  <h2>Planet of the Pandas</h2>
  <p>
    Forget apes; witness the rise of the true rulers of Earth, whose reign is
    built on naps and an insatiable hunger for bamboo. Prepare yourself for the
    adorable, fluffy conquest in Planet of the Pandas!
  </p>
  <button class="common__button">
    <img src="assets/img/video-offer/icons/play.svg" alt="Button Icon" />
    Play
  </button>
</div>
<section>
  <h3>New on Videoflix</h3>
  <div class="thumbnail__row">
    <img src="assets/img/video-offer/mountain324.webp" alt="Button Icon" />
    <img src="assets/img/video-offer/mountain324.webp" alt="Button Icon" />
    <img src="assets/img/video-offer/mountain324.webp" alt="Button Icon" />
  </div>
</section>
<section>
  <h3>New on Videoflix</h3>
  <div class="thumbnail__row">
    <img src="assets/img/video-offer/mountain324.webp" alt="Button Icon" />
    <img src="assets/img/video-offer/mountain324.webp" alt="Button Icon" />
    <img src="assets/img/video-offer/mountain324.webp" alt="Button Icon" />
  </div>
</section>
<section>
  <h3>New on Videoflix</h3>
  <div class="thumbnail__row">
    <img src="assets/img/video-offer/mountain324.webp" alt="Button Icon" />
    <img src="assets/img/video-offer/mountain324.webp" alt="Button Icon" />
    <img src="assets/img/video-offer/mountain324.webp" alt="Button Icon" />
  </div>
</section>
<section>
  <h3>New on Videoflix</h3>
  <div class="thumbnail__row">
    <img src="assets/img/video-offer/mountain324.webp" alt="Button Icon" />
    <img src="assets/img/video-offer/mountain324.webp" alt="Button Icon" />
    <img src="assets/img/video-offer/mountain324.webp" alt="Button Icon" />
  </div>
</section>
