@use "../../styles.scss" as styles;
@use "../../_variables.scss" as vars;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .form__white__bg {
    width: 270px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: vars.$accent-color;
    padding: 48px 56px;
    border-radius: 48px;

    .form__margin__bottom {
      margin-bottom: 24px;
    }

    h1 {
      font-size: 48px;
      margin: 0 0 32px 0;
    }

    input {
      border: 1px solid vars.$accent-color;
      font-size: 18px;
      padding: 10px 24px;
      border-radius: 12px;
      color: vars.$accent-color;

      &:focus {
        outline: none;
        border-color: vars.$accent-color;
        box-shadow: none;
      }
    }

    input::placeholder {
      color: vars.$accent-color;
    }

    small {
      width: 221px;
      height: 24px;
      font-size: 10px;
      color: #ff002e;
      min-height: 18px;
      line-height: 0.99;
      padding-top: 4px;
      align-self: flex-start;
    }

    .hidden {
      visibility: hidden;
    }
  }
}

.android__footer {
  padding-bottom: 64px;
}

.iphone__footer {
  padding-bottom: 116px;
}

@include vars.for-phone-only {
  main {
  
    .form__white__bg {
      padding: 44px 24px;

      input {
        width: 77%;
      }
    }}
}