@use "../../../../variables" as vars;

:host {
  height: vars.$header-footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;

  picture {
    display: inherit;
    align-items: center;

    @include vars.for-phone-only {
      img {
        height: 40px;
      }
    }
  }
}