@use "../../../../variables" as vars;

:host {
  height: vars.$header-footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

menu {
  flex: 1;
  margin: 0 vars.$page-margin-large;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;

  @include vars.for-tablet-landscape-down {
    margin: 0 vars.$page-margin-medium;
  }

  @include vars.for-phone-only {
    margin: 0 vars.$page-margin-small;
  }

  picture {
    display: inherit;
    align-items: center;

    @include vars.for-phone-only {
      img {
        height: 40px;
      }
    }
  }
}