<app-auth-header></app-auth-header>
<main>
  <form #emailForm="ngForm" (ngSubmit)="submitEmail()" novalidate>
    <h1>Movies, TV shows, and more</h1>
    <p>Enter your email to create or restart your subscription.</p>
    <div>
      <input
        type="email"
        placeholder="Email address"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        [pattern]="emailPattern"
        #emailInput="ngModel"
      />
      <button
        class="common__button"
        type="submit"
        [disabled]="!emailForm.form.valid"
      >
        Sign Up <span class="material-symbols-outlined"> arrow_forward_ios </span>
      </button>
    </div>
  </form>
  <div class="loading-overlay" [class.visible]="loading || showPopup">
    <div class="spinner"></div>
  </div>
  <div *ngIf="showPopup" class="popup success-popup">
    <div class="popup-content">
      <span class="material-symbols-outlined">mark_email_read</span>
      <p>Please check your inbox for a confirmation email.</p>
      <button class="common__button" (click)="closePopup()">Close</button>
    </div>
  </div>
</main>
<app-auth-footer></app-auth-footer>
