<app-auth-header></app-auth-header>
<main>
  <form #emailForm="ngForm" (ngSubmit)="submitEmail()" novalidate>
    <h1>Movies, TV shows, and more</h1>
    <p>Enter your email to create or restart your subscription.</p>
    <div>
      <input
        type="email"
        placeholder="Email Address"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        [pattern]="emailPattern"
        #emailInput="ngModel"
      />
      <button
        class="common__button"
        type="submit"
        [disabled]="!emailForm.form.valid"
      >
        Sign Up
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3" stroke="white" stroke-width="16"><path d="M321-48 218-151l329-329-329-329 103-103 432 432L321-48Z"/></svg>
      </button>
    </div>
  </form>


  <app-loading-overlay [loading]="loading || showPopup"></app-loading-overlay>
  <app-auth-popup
    [isVisible]="showPopup"
    [message]="'Please check your inbox for a confirmation email.'"
    [icon]="'mark_email_read'"
    (closed)="showPopup = false"
  ></app-auth-popup>
</main>
<app-auth-footer></app-auth-footer>
