@use "../../../styles.scss" as styles;
@use "../auth-styles.scss";

form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  h1 {
    margin: 0 0 0 0;
    font-size: 48px;
    letter-spacing: 2px;
  }

  p {
    @include styles.dm-sans-font-extra-light;
    font-size: 18px;
  }

  div {
    display: flex;
    gap: 32px;
    
    input {
      @include styles.dm-sans-font-extra-light;
      background-color: transparent;
      border: 1px solid white;
      font-size: 18px;
      color: white;
      padding: 10px 24px;
      border-radius: 50px;

      &::placeholder {
        color: white;
      }
    }
  }
}
