@use "../../../styles.scss" as styles;
@use "../../../_variables.scss" as vars;
@use "../auth-styles.scss";

:host {
  @include styles.page__padding;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  h1 {
    margin: 0;
    font-size: 48px;
    letter-spacing: 2px;
    text-align: center;

    @include vars.for-tablet-landscape-down {
      max-width: 442px;
    }

    @include vars.for-phone-only {
      font-size: 40px;
    }
  }

  p {
    @include styles.dm-sans-font-extra-light;
    font-size: 18px;
    text-align: center;
  }

  div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    
    input {
      @include styles.dm-sans-font-extra-light;
      width: 50%;
      background-color: transparent;
      border: 1px solid white;
      font-size: 18px;
      color: white;
      padding: 10px 24px;
      border-radius: 50px;

      &::placeholder {
        color: white;
      }
    }
  }
}
