<app-auth-header></app-auth-header>
<main>
  <form #emailForm="ngForm" (ngSubmit)="submitEmail()" novalidate>
    <h1>Movies, TV shows, and more</h1>
    <p>Enter your email to create or restart your subscription.</p>
    <div>
      <input
        type="email"
        placeholder="Email address"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        [pattern]="emailPattern"
        #emailInput="ngModel"
      />
      <button
        class="common__button"
        type="submit"
        [disabled]="!emailForm.form.valid"
      >
        Sign Up <span class="material-symbols-outlined"> arrow_forward_ios </span>
      </button>
    </div>
  </form>
  
</main>
<app-auth-footer></app-auth-footer>
