<app-auth-header></app-auth-header>
<main>
  <form [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">
    <h1>Sign up</h1>
    <input
      class="form__margin__bottom"
      type="password"
      formControlName="password"
      placeholder="Password"
      required
    />
    <input
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
      required
    />
    <span class="form__margin__bottom">Passwords must match.</span>
    <button type="submit" [disabled]="setPasswordForm.invalid">
      Set password
    </button>
  </form>
</main>
<app-auth-footer></app-auth-footer>
