<app-auth-header></app-auth-header>
<main>
  <div *ngIf="successMessage">{{ successMessage }}</div>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>

  <form
    *ngIf="showPasswordForm"
    [formGroup]="setPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <input
      type="password"
      formControlName="password"
      placeholder="Password"
      required
    />
    <input
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
      required
    />
    <button type="submit" [disabled]="setPasswordForm.invalid">
      Set password
    </button>
  </form>
</main>
<app-auth-footer></app-auth-footer>
