<app-auth-header></app-auth-header>
<main>

  <form
    [formGroup]="setPasswordForm"
    (ngSubmit)="onSubmit()"
  >
  <h1>Sign up</h1>
    <input
      type="password"
      formControlName="password"
      placeholder="Password"
      required
    />
    <input
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
      required
    />
    <button type="submit" [disabled]="setPasswordForm.invalid">
      Set password
    </button>
  </form>
</main>
<app-auth-footer></app-auth-footer>
