@use "../../../../variables" as vars;

:host {
  height: vars.$header-footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  font-size: 18px;
  padding: 16px;
}

@include vars.for-phone-only {
  a {
    font-size: 20px;
  }
}