@use "../../../../variables" as vars;

:host {
  height: vars.$header-footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
}
