<app-auth-header></app-auth-header>
<main>
  <div *ngIf="successMessage">{{ successMessage }}</div>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>

  <form
    *ngIf="showPasswordForm"
    [formGroup]="setPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <input
      type="password"
      formControlName="password"
      placeholder="Passwort"
      required
    />
    <input
      type="password"
      formControlName="confirmPassword"
      placeholder="Passwort bestätigen"
      required
    />
    <button type="submit" [disabled]="setPasswordForm.invalid">
      Passwort festlegen
    </button>
  </form>
</main>
<app-auth-footer></app-auth-footer>
