@mixin background-cover($image-url) {
  background-image: url($image-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }
}

.start-background {
  @include background-cover("/assets/img/auth/start-background-1200.webp");
}

.auth-background {
  @include background-cover("/assets/img/auth/auth-background-1280.webp");
}
