<app-auth-header></app-auth-header>
<main>
  <form #emailForm="ngForm" class="form__white__bg" (submit)="sendEmail()">
    <h1>Forgot your password?</h1>
    <p>We will send you an email with instructions to reset your password.</p>
    <input
      class="form__margin__bottom"
      type="email"
      placeholder="Email Address"
      id="email"
      name="email"
      [(ngModel)]="email"
      required
      [pattern]="emailPattern"
      #emailInput="ngModel"
    />
    <button
      class="common__button form__margin__bottom"
      type="submit"
      [disabled]="!emailForm.form.valid"
    >
      Send Email
    </button>
  </form>
  <app-loading-overlay [loading]="loading || showPopup"></app-loading-overlay>
  <div *ngIf="showPopup" class="popup success-popup">
    <div class="popup-content">
      <span class="material-symbols-outlined">mark_email_read</span>
      <p>Please check your inbox for a confirmation email.</p>
      <button class="common__button" (click)="closePopup()">Close</button>
    </div>
  </div>
</main>
<app-auth-footer></app-auth-footer>
