<app-auth-header></app-auth-header>
<main>
  <form #emailForm="ngForm" class="form__white__bg" (submit)="sendEmail()">
    <h1>Forgot your password?</h1>
    <p>We will send you an email with instructions to reset your password.</p>
    <input
      class="form__margin__bottom"
      type="email"
      placeholder="Email Address"
      id="email"
      name="email"
      [(ngModel)]="email"
      required
      [pattern]="emailPattern"
      #emailInput="ngModel"
    />
    <button
      class="common__button form__margin__bottom"
      type="submit"
      [disabled]="!emailForm.form.valid"
    >
      Send Email
    </button>
  </form>
  <app-loading-overlay [loading]="loading || showSuccessPopup || showErrorPopup"></app-loading-overlay>
  <app-loading-overlay [loading]="loading"></app-loading-overlay>
  <app-auth-popup
    [isVisible]="showSuccessPopup"
    [message]="'Please check your inbox.'"
    [icon]="'mark_email_read'"
    [showButton]="false"
    (closed)="closeSuccessPopup()"
  ></app-auth-popup>

  <app-auth-popup
    [isVisible]="showErrorPopup"
    [message]="'An error occurred. Please check your email address and try again.'"
    [icon]="'warning'"
    [showButton]="true"
    (closed)="closeErrorPopup()"
  ></app-auth-popup>
</main>
<app-auth-footer></app-auth-footer>
