<app-auth-header></app-auth-header>
<main>

  <form class="form__white__bg" (submit)="sendEmail()">
    <h1>Forgot your password?</h1>
    <p>We will send you an email with instructions to reset your password.</p>
    <input class="form__margin__bottom" type="email" name="email" placeholder="Email Address" required>
    <small class="error-message">Invalid email.</small>
    <button class="common__button form__margin__bottom" type="submit">Send Email</button>
  </form>
</main>
<app-auth-footer></app-auth-footer>
