@use "../../../../_variables.scss" as vars;

$thumbnail-transition-duration: 0.3s;
$thumbnail-hover-scale: 1.05;
$nav-button-size: 45px;
$nav-button-offset: 10px;
$nav-button-new-size: 55px;
$nav-button-new-offset: 0;
$nav-icon-size: 24px;

h3 {
  font-size: 22px;
  letter-spacing: 1.5px;
  margin-bottom: 16px;
}

.swiper {
  position: relative;
  padding: 10px $nav-button-size + $nav-button-offset;
  margin-left: -($nav-button-size + $nav-button-offset);
  margin-right: -($nav-button-size + $nav-button-offset);
  overflow: hidden;

  .swiper-wrapper {
    .swiper-slide {
      cursor: pointer;

      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: transform $thumbnail-transition-duration ease-in-out,
          box-shadow $thumbnail-transition-duration ease-in-out;
        will-change: transform;
        border: 1px solid rgba(255, 255, 255, 0.08);
        box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.07);
      }

      &:hover img {
        transform: scale($thumbnail-hover-scale);
        z-index: 5;
        position: relative;
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: $nav-button-new-size;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  --swiper-navigation-color: white;
  --swiper-navigation-size: $nav-icon-size;
  text-shadow: none;
  transition: background-color 0.3s ease;
}

.swiper-button-prev {
  left: $nav-button-new-offset;
}

.swiper-button-next {
  right: $nav-button-new-offset;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 40px;
}

.swiper-button-disabled {
  display: none;
  cursor: auto;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.2);
}

@include vars.for-tablet-landscape-down {
  h3 {
    margin-bottom: 8px;
  }

  .swiper {
    margin-right: -($nav-button-size + $nav-button-offset - 5px);

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}