<app-auth-header></app-auth-header>
<main>
  <h1>Privacy Policy</h1>

  <h2>Gerneral information</h2>
  <p>
    As this app is not in use and serves to demonstrate my skills, there are no
    legally binding texts here. As an e-commerce manager, I am of course aware
    of the importance of legal texts on websites.
  </p>
  <p>
    You can get an impression of this in the data privacy section and imprint of
    my <a href="https://cw-coding.de/" target="_blank">Portfolio</a>.
  </p>
</main>
<app-auth-footer></app-auth-footer>
